*[src^="template"] {
  border: none;
  padding-left: 0;
}

*[src^="template"] br {
  display: none;
}

*[src^="template"][src*="latex"] {
  display: none;
}

*[src^="template"] > .embed-title {
  display: none;
}


@media print {
  .markdown-preview-view {
    padding-top: 0 !important;
  }
  
  *[src^="template"] br {
    display: none;
  }

  *[src^="template"][src*="latex"] {
    display: none;
  }

  *[src^="template"] {
    border: none;
    padding-left: 0;
  }

  *[src^="template"] > .markdown-embed-title {
    display: none;
  }

  *[src^="template"] p {
    margin: 0;
  }
/*

  .markdown-embed-title {
    display: none;
  }

  .markdown-embed > .markdown-rendered > .math {
    display: none;
  }

  .markdown-embed > .markdown-rendered > p {
    margin: 0;
  }

  .markdown-embed {
    border: none;
    padding: 0;
    margin-bottom: 1rem;
  }*/
}